.online {
  background-color: green;
  height: 12px;
  width: 12px;
  border-radius: 50%;
  display: inline-block;
}
.offline {
  background-color: red;
  height: 12px;
  width: 12px;
  border-radius: 50%;
  display: inline-block;
}
.item {
  background-color: rgb(86, 174, 233);
  display: flex;
  gap: 10px;
  justify-content: flex-start;
  align-items: center;
  width: 150px;
  height: 60px;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}
.name {
  color: white;
}
.friendList {
  margin-bottom: 50px;
}
